@font-face {
        font-family: 'Source Sans Pro Black';
        src: local('SourceSansPro-Black'),url(./fonts/SourceSansPro-Black.ttf) format('truetype');
}

@font-face {
        font-family: 'Source Sans Pro Regular';
        src: local('SourceSansPro-Regular'),url(./fonts/SourceSansPro-Regular.ttf) format('truetype');
}

@font-face {
        font-family: 'Source Sans Pro Semi-Bold';
        src: local('SourceSansPro-SemiBold'),url(./fonts/SourceSansPro-SemiBold.ttf) format('truetype');
}

@font-face {
        font-family: 'Source Sans Pro Bold';
        src: local('SourceSansPro-Bold'),url(./fonts/SourceSansPro-Bold.ttf) format('truetype');
}

@font-face {
        font-family: 'Gilmer Heavy';
        src: local('Gilmer_Heavy'),url(./fonts/Gilmer_Heavy.ttf) format('truetype');
}

@font-face {
        font-family: 'Gilmer Bold';
        src: local('Gilmer_Bold'),url(./fonts/Gilmer_Bold.ttf) format('truetype');
}

@font-face {
        font-family: 'Gilmer Regular';
        src: local('Gilmer_Regular'),url(./fonts/Gilmer_Regular.ttf) format('truetype');
}

@font-face {
        font-family: 'Gilmer Outline';
        src: local('Gilmer_Outline'),url(./fonts/Gilmer_Outline.ttf) format('truetype');
}

@font-face {
        font-family: 'Gilmer Light';
        src: local('Gilmer_Light'),url(./fonts/Gilmer_Light.ttf) format('truetype');
}

@font-face {
        font-family: 'Gilmer Medium';
        src: local('Gilmer_Medium'),url(./fonts/Gilmer_Medium.ttf) format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212121 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.navbar {
    padding-right: 75px !important;
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
    z-index: 1;
    background-color: #2e2e2e !important;
}

.nav-link {
    color: white !important;
    font-family: 'Gilmer Regular';
    font-size: 22px;
    padding-left: 30px !important;
    padding-right: 30px !important;
    text-decoration: none;
    position: relative;
}

p.navLinks {
    position: relative;
    text-decoration: none;
    padding-top: 10px;
}

p.navLinks:hover {
    color: #ffd400 !important;
}

p.navLinks::before {
    transition: 300ms;
    height: 2px;
    content: "";
    position: absolute;
    background-color: #ffd400;
    width: 0%;
    bottom: -5px;
}

p.navLinks:hover::before {
    width: 100%;
}

p.navLinks:hover::after {
    width: 0%;
}

#brand {
    color: #ffd400;
    font-family: 'Gilmer Heavy';
    font-size: 35px;
    padding-left: 100px;
    padding-top: 0px !important;
}

.homeRow {
    margin-top: 75px !important;
    position: relative;
    margin-bottom: -100px !important;
}

#homeText {
    font-family: 'Gilmer Regular';
    font-size: 40px;
    width: 100%;
    margin-top: 150px;
    color: white;
    margin-left: -43px;
}

.hello {
    font-family: 'Gilmer Bold';
    font-stretch: expanded !important;
    font-size: 50px;
}

#name {
    color: #ffd400;
}

img.homePic {
    width: auto;
    height: 560px;
    /* margin-bottom: 10px; */
}


.arrowDiv {
    background-color: transparent;
    height: 70px;
    position: relative;
    width: 100%;
    margin-top: 95px;
    /* margin-bottom: 100px; */
    transition: 0.7s;

}

.arrowDiv:hover {
    background-color: #292929;
}

@keyframes bouncing {
    0% {bottom: 0;}
    50% {bottom: 20px;}
    100% {bottom: 0;}
}

.scrollArrow {
    animation: bouncing 2s infinite ease-in-out;
    bottom: 0;
    display: block;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px
}


.aboutTitle {
    color: white;
    font-family: 'Gilmer Medium';
    text-align: center;
    font-size: 35px;
    margin-top: 50px;
}

.svgRow {
    margin-bottom: -110px;
}

.miniRec {
    fill: #ffd400;
    display: block;
    margin: auto;
    padding-top: 10px;
}

.aboutContent {
    height: 100%;
}

.aboutText {
    color: white;
    font-family: 'Gilmer Regular';
    font-size: 18px;
    text-align: left;
    padding-left: 40px !important;
}

.atlPic {
    width: auto;
    height: 370px;
}

.bgdAbout {
    color: white;
    font-family: 'Gilmer heavy';
    opacity: 5%;
    font-size: 100px;
    text-align: right;
    margin-top: -50px;
    margin-right: -150px;
    margin-left: 980px;
}

.button {
    z-index: 1;
    display:inline-block;
    padding:0.35em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    text-decoration:none;
    font-family: 'Gilmer Regular';
    font-weight:300;
    color: #ffd400 !important;
    text-align:center;
    transition: all 0.7s;
    border: 1px solid #ffd400;
    background-color: transparent;
    letter-spacing: 3px;

}

.button:hover {
    text-decoration:none;
    color: black !important;
    background-color: #ffd400;

}

.card {
    background-color: black !important;
    border: 0px !important;
    font-family: 'Gilmer Regular' !important;
    height: 400px;
}
.card:hover {
    /* background-color: #ffd400 !important; */
    box-shadow: 5px 10px 20px 1px rgb(0,0,0,0.253) !important;
}

.card-title {
    color: #ffd400 !important;
    font-size: 25px !important;

}

.card-subtitle {
    color: white !important;
    padding-bottom: 10px;
}

.card-text {
    color: white !important;
    margin-bottom: 30px
}

.card-footer {
    padding: 0px !important;
    display: inline-block;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}

.bgdProjects {
    color: white;
    font-family: 'Gilmer heavy';
    opacity: 5%;
    font-size: 100px;
    text-align: right;
    margin-top: 30px;
    margin-right: -150px;
}

#projectLink {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-right: 1.25rem;
    font-size: x-large !important;
}


.subContact {
    color: white;
    font-family: 'Gilmer Heavy';
    font-size: 50px;
}

.subContact2 {
    color: #ffd400;
    font-family: 'Gilmer Heavy';
    font-size: 50px;
}


.formCol {
    padding-left: 80px !important;
}

label {
    color: #ffd400;
    font-family: 'Gilmer Bold';
    font-size: 20px;
}

input {
    display: block;
    width: 100%;
    height: 40px;
    border: 0px;
    background-color: black;
    color: white;
    font-size: 20px !important;
    font-family: 'Gilmer regular' !important;
    margin-bottom: 10px !important;
    padding-left: 10px;
}

input:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px black inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}

textarea {
    display: block;
    width: 100%;
    color: white;
    border: 0px;
    background-color: black;
    font-family: 'Gilmer regular' !important;
    font-size: 20px !important;
    padding-left: 10px;
    margin-bottom: 10px !important;
}

textarea:focus {
    outline: -webkit-focus-ring-color auto 0px;
}
.newButton {
    display:inline-block;
    padding:0.35em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    font-family: 'Gilmer Regular';
    font-weight:300;
    color: #ffd400 !important;
    text-align:center;
    transition: all 0.7s;
    border: 1px solid #ffd400;
    background-color: transparent;
    letter-spacing: 3px;
}

.newButton:hover {
    background-color: white;
}

button:focus {
    outline: -webkit-focus-ring-color auto 0px !important;
}


.bgdContact {
    color: white;
    font-family: 'Gilmer heavy';
    opacity: 5%;
    font-size: 100px;
    text-align: left;
    margin-top: -70px;
    margin-left: 890px;
}

.success-msg {
    color: white;
    padding: 10px 15px;
    font-family: 'Gilmer Regular';
}

.err-msg {
    color: white;
    padding: 10px 15px;
}

.fa {
    font-size: xx-large !important;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 15px;
    color: white;
}

#copyright {
    color: white;
    font-family: 'Gilmer regular';
}

footer {
    background-color: black;
}
