@font-face {
        font-family: 'Source Sans Pro Black';
        src: local('SourceSansPro-Black'),url(./fonts/SourceSansPro-Black.ttf) format('truetype');
}

@font-face {
        font-family: 'Source Sans Pro Regular';
        src: local('SourceSansPro-Regular'),url(./fonts/SourceSansPro-Regular.ttf) format('truetype');
}

@font-face {
        font-family: 'Source Sans Pro Semi-Bold';
        src: local('SourceSansPro-SemiBold'),url(./fonts/SourceSansPro-SemiBold.ttf) format('truetype');
}

@font-face {
        font-family: 'Source Sans Pro Bold';
        src: local('SourceSansPro-Bold'),url(./fonts/SourceSansPro-Bold.ttf) format('truetype');
}

@font-face {
        font-family: 'Gilmer Heavy';
        src: local('Gilmer_Heavy'),url(./fonts/Gilmer_Heavy.ttf) format('truetype');
}

@font-face {
        font-family: 'Gilmer Bold';
        src: local('Gilmer_Bold'),url(./fonts/Gilmer_Bold.ttf) format('truetype');
}

@font-face {
        font-family: 'Gilmer Regular';
        src: local('Gilmer_Regular'),url(./fonts/Gilmer_Regular.ttf) format('truetype');
}

@font-face {
        font-family: 'Gilmer Outline';
        src: local('Gilmer_Outline'),url(./fonts/Gilmer_Outline.ttf) format('truetype');
}

@font-face {
        font-family: 'Gilmer Light';
        src: local('Gilmer_Light'),url(./fonts/Gilmer_Light.ttf) format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212121 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.navbar {
    /* padding-top: 20px !important; */
    padding-right: 75px !important;
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
    z-index: 1;
    background-color: #2e2e2e !important;
}

.nav-link {
    color: white !important;
    font-family: 'Gilmer Regular';
    font-size: 22px;
    padding-left: 30px !important;
    padding-right: 30px !important;
    text-decoration: none;
    position: relative;
}

p.navLinks {
    position: relative;
    text-decoration: none;
    padding-top: 10px;
}

p.navLinks:hover {
    color: #ffd400 !important;
}

p.navLinks::before {
    transition: 300ms;
    height: 2px;
    content: "";
    position: absolute;
    background-color: #ffd400;
    width: 0%;
    bottom: -5px;
}

p.navLinks:hover::before {
    width: 100%;
}

p.navLinks:hover::after {
    width: 0%;
}



#brand {
    color: #ffd400;
    font-family: 'Gilmer Heavy';
    font-size: 35px;
    padding-left: 100px;
    padding-top: 0px !important;
}

.homeRow {
    margin-top: 75px !important;
    position: relative;
    margin-bottom: -100px !important;
}

#homeText {
    font-family: 'Gilmer Regular';
    font-size: 40px;
    width: 100%;
    margin-top: 150px;
    color: white;
    margin-left: -43px;
}

.hello {
    font-family: 'Gilmer Bold';
    font-stretch: expanded !important;
    font-size: 50px;
}

#name {
    color: #ffd400;
}

img.homePic {
    width: auto;
    height: 500px;
}

img.aboutPic {
    width: auto;
    height: 20%;
}

.arrowDiv {
    background-color: transparent;
    height: 100px;
    position: relative;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 100px;
}

.arrowDiv:hover {
    background-color: black;
}

@keyframes bouncing {
    0% {bottom: 0;}
    50% {bottom: 20px;}
    100% {bottom: 0;}
}

.arrow {
    animation: bouncing 1s infinite ease-in-out;
    bottom: 0;
    display: block;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
}

.aboutTitle {
    color: white;
    font-family: 'Gilmer Regular';
    text-align: center;
    font-size: 35px;
}

.svgRow {
    margin-bottom: -110px;
}

.miniRec {
    fill: #ffd400;
    display: block;
    margin: auto;
    padding-top: 10px;
}

.aboutContent {
    height: 100%;
}

.aboutText {
    color: white;
    font-family: 'Gilmer Regular';
    font-size: 18px;
    text-align: left;
    padding-left: 40px !important;
}

.atlPic {
    width: auto;
    height: 370px;
}

.bgdAbout {
    color: white;
    font-family: 'Gilmer heavy';
    opacity: 5%;
    z-index: -1;
    font-size: 100px;
    text-align: right;
    margin-top: -100px;
    margin-right: -150px;
}

.button {
    display:inline-block;
    padding:0.35em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    text-decoration:none;
    font-family: 'Gilmer Regular';
    font-weight:300;
    color: #ffd400;
    text-align:center;
    transition: all 0.4s;
    border: 1px solid #ffd400;
    background-color: transparent;
    letter-spacing: 3px;
}

.button:hover {
    text-decoration:none;
    color: black;
    background-color: #ffd400;

}

.fa {
    font-size: xx-large !important;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 15px;
    color: white;
}

#copyright {
    color: white;
}

footer {
    background-color: black;
}
